USE [master]
GO
/****** Object:  Database [practica2]    Script Date: 21/10/2017 09:46:19 a.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'practica2')
BEGIN
CREATE DATABASE [practica2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'practica2', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\practica2.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'practica2_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\practica2_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [practica2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [practica2]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 21/10/2017 09:46:19 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alumno]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Alumno](
	[ID.alumno] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Carrera] [varchar](50) NOT NULL,
	[Fecha de Nacimiento] [date] NULL,
	[Semestre] [tinyint] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Calificaciones_semestre]    Script Date: 21/10/2017 09:46:19 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Calificaciones_semestre]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Calificaciones_semestre](
	[ID.alumno] [uniqueidentifier] NOT NULL,
	[Semestre] [tinyint] NOT NULL,
	[Promedio] [float] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Horario]    Script Date: 21/10/2017 09:46:19 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Horario]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Horario](
	[ID.materia] [uniqueidentifier] NOT NULL,
	[Fecha] [time](7) NULL,
	[horas.dia] [tinyint] NOT NULL,
	[repeticiones] [tinyint] NOT NULL,
	[horas.semana]  AS ([horas.dia]*[repeticiones]),
	[Maestro] [varchar](50) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 21/10/2017 09:46:19 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Libros]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Libros](
	[ID.libro] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Sinopsis] [text] NULL,
	[Materia] [nvarchar](50) NOT NULL,
	[Precio.libro] [float] NULL,
	[Cantidad.libros] [int] NULL,
	[Precio.total]  AS ([Precio.libro]*[Cantidad.libros])
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Maestros]    Script Date: 21/10/2017 09:46:19 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Maestros]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Maestros](
	[ID] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Profesión] [varchar](50) NULL,
	[Clase impartida] [nchar](10) NULL,
	[Horas trabajo por semana] [tinyint] NOT NULL,
	[Sueldo por hora] [int] NOT NULL,
	[Sueldo semana] [nchar](10) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 21/10/2017 09:46:19 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Materia]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Materia](
	[ID.materia] [uniqueidentifier] NOT NULL,
	[Materia] [varchar](50) NOT NULL,
	[Semestre] [tinyint] NOT NULL,
	[Maestro] [varchar](50) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Oportunidades]    Script Date: 21/10/2017 09:46:19 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Oportunidades]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Oportunidades](
	[ID.alumno] [uniqueidentifier] NOT NULL,
	[Materia] [nchar](10) NOT NULL,
	[Materia.primeras] [bit] NOT NULL,
	[Materia.segundas] [bit] NOT NULL,
	[Materia.terceras] [bit] NOT NULL,
	[Materia.cuartas] [bit] NOT NULL,
	[Materia.quintas] [bit] NOT NULL,
	[Materia.sextas] [bit] NOT NULL
) ON [PRIMARY]
END
GO
USE [master]
GO
